.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.resetLink {
  text-align: right;
}

.form {
  max-width: min(80%, 300px);
}
